.base-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.content-wrapper section.content-section .col-start-item {
  grid-column-start: 2;
}
.content-wrapper section.content-section:nth-child(even) .col-start-item {
  grid-column-start: 1;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

@media (min-width: 768px) {
  .base-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1300px) {
  .base-container {
    padding-left: 6%;
    padding-right: 6%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
}