@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto-Regular'), local('Roboto Regular'), url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}